
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach

ColumnLimit: 80
PenaltyExcessCharacter: 5

ReflowComments: false
PenaltyBreakComment: 50 

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: BeforeComma
BreakBeforeTernaryOperators: true
AlwaysBreakTemplateDeclarations: true

DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInSquareBrackets: false
SpacesInParentheses: false

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false

FixNamespaceComments: true
