
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach

ColumnLimit: 80
PenaltyExcessCharacter: 5

ReflowComments: false
PenaltyBreakComment: 50 

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true

AlwaysBreakTemplateDeclarations: true

BinPackParameters: false
BinPackArguments: false
BreakConstructorInitializers: BeforeComma

DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInSquareBrackets: false
SpacesInParentheses: false

BreakBeforeTernaryOperators: true
AlignAfterOpenBracket: AlwaysBreak

FixNamespaceComments: true
